@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&family=Space+Mono:wght@400;700&family=Ubuntu:ital,wght@0,400;0,500;1,500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    min-width: 250px;
}

body {
    font-family: "Space Mono", monospace;
}

.main {
    /* background: hsl(0, 0%, 21%); */
    background: hsl(0, 0%, 26%);
}

.navbar {
    border-bottom: 0.5px solid hsl(0, 0%, 96%);
}

.navbar-menu {
    background: hsl(0, 0%, 21%);
}

.navbar .dropdown-content {
    background: hsl(0, 0%, 21%);
}

#home-section {
    font-family: "Roboto Mono", monospace;
}

.section-title {
    margin: 30px auto;
}

.section-title .underline-title {
    border-bottom: 1.5px solid hsl(0, 0%, 96%);
}

.section-title .title {
    text-align: center;
}

.card-content .card-link {
    text-align: center;
}

.card .card-content .content {
    font-family: "Roboto Mono", monospace;
}

.card .card-image img {
    object-fit: cover;
}

#api-tester-section .endpoints {
    padding-bottom: 1.5rem;
    border-bottom: 0.5px solid hsl(0, 0%, 96%);
    margin-bottom: 1.5rem;
}

.text-field-container .column {
    padding: 0.125rem 0.4rem;
}

.icon-dropdown {
    height: 1rem;
    width: 1rem;
}

#skills-section figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-figure-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1.8rem;
}

.image.is-96x96 {
    min-width: 96px;
    min-height: 96px;
}

figcaption {
    text-align: center;
}
